.marker {
  font-weight: bolder;
  font-size: 0.9em;
}

.c {
  color: brown;
  font-size: 1.2em;
}

.marker.v {
  color: blue;
  font-size: 1.2em;
}

.marker.p, .s, .s5, .ts {
  color: green;
}

.block.s {
  font-size: 1.5em;
}
.marker.s {
  font-size: 0.75em;
}

.f, .fk, .ft, .fr {
  color: orange;
}

.w, .zaln-s, .zaln-e {
  color: purple;
}

.tr, .tl {
  color: red;
}

.attribute {
  font-size: 0.8em;
  font-style: italic;
}

.block {}