@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btnGroup {
/*  @apply inline-flex; */
  @apply shadow-md;
  @apply hover:shadow-lg;
  @apply focus:shadow-lg;
}

.btn {
  @apply rounded-l rounded-r;
  @apply px-0.5;
  @apply py-0.5;
  @apply border-2 border-blue-600;
  @apply text-blue-600;
  @apply font-medium;
  @apply text-xs;
  @apply leading-tight;
/*  @apply uppercase; */
  @apply hover:bg-black hover:bg-opacity-10 hover:text-blue-600;
  @apply focus:outline-none focus:ring-0;
  @apply active:bg-blue-800;
  @apply transition;
  @apply duration-150;
  @apply ease-in-out;
  @apply disabled:opacity-50;
}

.menuitems {
  @apply absolute right-0 w-48 mt-0.5 origin-top-right;
  @apply bg-white;
  @apply divide-y divide-gray-100;
  @apply rounded-md shadow-lg;
  @apply ring-1 ring-black ring-opacity-5;
  @apply focus:outline-none;
}

.menuitem {
  @apply flex;
  @apply rounded-md;
  @apply items-center;
  @apply w-full;
  @apply px-0.5;
  @apply py-0.5;
  @apply text-xs;
}

.menuitemnohov {
  @apply text-blue-600;
}

.on {
  @apply bg-blue-800;
  @apply text-white;
  @apply disabled:hover:bg-blue-800 disabled:hover:opacity-50 disabled:hover:text-white;
}

.menuitemhov {
  @apply bg-black bg-opacity-10;
  @apply text-blue-600;
}

.notff {
  visibility: hidden;
}

/* If Firefox then load these fonts, licensed under the Open Font License ver 1.1. See http://scripts.sil.org/OFL for details. */
@-moz-document url-prefix() {
  @font-face {
    font-family: AlkalamiRW;
    src: url(./fonts/Alkalami-Regular.woff) format('woff');
  }
  @font-face {
    font-family: AlkalamiLW;
    src: url(./fonts/Alkalami-Light.woff) format('woff');
  }
  @font-face {
    font-family: AwamiNastaliqRW;
    src: url(./fonts/AwamiNastaliq-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: HarmattanW;
    src: url(./fonts/Harmattan-Regular.woff) format('woff');
  }
  @font-face {
    font-family: LateefRW;
    src: url(./fonts/LateefGR-Regular.woff) format('woff');
  }
  @font-face {
    font-family: ScheherazadeRW;
    src: url(./fonts/ScheherazadeNew-Regular.woff2) format('woff2');
  }

  .ff {
    visibility: visible;
  }

  .AlkalamiRW, .AlkalamiLW, .AwamiNastaliqRW, .HarmattanW, .LateefRW, .ScheherazadeRW, .Alkalami, .AlkalamiLight, .AwamiNastaliq, .Harmattan, .LateefGR, .ScheherazadeNew {
    font-size: 150%;
  }
  .AlkalamiRW h1, .AlkalamiLW h1, .AwamiNastaliqRW h1, .HarmattanW h1, .LateefRW h1, .ScheherazadeRW h1, .Alkalami h1, .AlkalamiLight h1, .AwamiNastaliq h1, .Harmattan h1, .LateefGR h1, .ScheherazadeNew h1 {
    font-size: 172.5%;
  }
  .AlkalamiRW h2, .AlkalamiLW h2, .AwamiNastaliqRW h2, .HarmattanW h2, .LateefRW h2, .Alkalami h2, .ScheherazadeRW h2, .AlkalamiLight h2, .AwamiNastaliq h2, .Harmattan h2, .LateefGR h2, .ScheherazadeNew h2 {
    font-size: 165%;
  }

  .AwamiNastaliqRW, .AwamiNastaliq {
    line-height: 2.7;
  }

  .AlkalamiRW {
    font-family: AlkalamiRW;
  }

  .AlkalamiLW {
    font-family: 'AlkalamiLW';
  }

  .AwamiNastaliqRW {
    font-family: AwamiNastaliqRW;
  }

  .HarmattanW {
    font-family: HarmattanW;
  }

  .LateefRW {
    font-family: LateefRW;
  }

  .ScheherazadeRW {
    font-family: ScheherazadeRW;
  }

  .Alkalami {
    font-family: Alkalami;
  }

  .AlkalamiLight {
    font-family: 'Alkalami Light';
  }

  .AwamiNastaliq {
    font-family: 'Awami Nastaliq';
  }

  .Harmattan {
    font-family: Harmattan;
  }

  .LateefGR {
    font-family: LateefGR;
  }

  .ScheherazadeNew {
    font-family: 'Scheherazade New';
  }

}