@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btnGroup {
  /* @apply inline-flex; */
  @apply shadow-md;
  @apply hover:shadow-lg;
  @apply focus:shadow-lg;
}

.btnAll {
  @apply px-0.5;
  @apply py-0.5;
  @apply border-gray-600;
  @apply text-gray-600;
  @apply font-medium;
  @apply text-xs;
  @apply leading-tight;
  /* @apply uppercase; */
  @apply hover:bg-black hover:bg-opacity-10 hover:text-gray-600;
  @apply focus:outline-none focus:ring-0;
  @apply active:bg-gray-800;
  @apply disabled:opacity-50;
  @apply transition;
  @apply duration-150;
  @apply ease-in-out;
}

.btnAlone {
  @apply rounded-l rounded-r;
  @apply border-2;
}

.btnLeft {
  @apply rounded-l;
  @apply border-2;
}

.btnMiddle {
  @apply border-t-2 border-b-2 border-r-2;
}

.btnRight {
  @apply rounded-r;
  @apply border-t-2 border-b-2 border-r-2;
}

.menuitems {
  @apply absolute right-0 w-40 mt-0.5 origin-top-right;
  @apply bg-white;
  @apply divide-y divide-gray-900 divide-opacity-50;
  @apply rounded-md shadow-lg;
  @apply ring-1 ring-black ring-opacity-5;
  @apply focus:outline-none;
}

.menuitem {
  @apply flex;
  @apply rounded-md;
  @apply items-center;
  @apply w-full;
  @apply px-0.5;
  @apply py-0.5;
  @apply text-xs;
}

.menuitemnohov {
  @apply text-gray-700;
}

.on {
  @apply bg-gray-800;
  @apply text-white;
  @apply disabled:hover:bg-gray-800 disabled:hover:opacity-50 disabled:hover:text-white;
}

.menuitemhov {
  @apply bg-black bg-opacity-10;
  @apply text-gray-700;
}

/* If Firefox then load these fonts, licensed under the Open Font License ver 1.1. See http://scripts.sil.org/OFL for details. */
@-moz-document url-prefix() {
  @font-face {
    font-family: AkatabRW;
    src: url(./fonts/Akatab-Regular.woff) format('woff');
  }
  @font-face {
    font-family: AlkalamiLW;
    src: url(./fonts/Alkalami-Light.woff) format('woff');
  }
  @font-face {
    font-family: AlkalamiRW;
    src: url(./fonts/Alkalami-Regular.woff) format('woff');
  }
  @font-face {
    font-family: AndikaRW;
    src: url(./fonts/Andika-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: AwamiNastaliqRW;
    src: url(./fonts/AwamiNastaliq-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: GentiumPlusRW;
    src: url(./fonts/GentiumPlus-Regular.woff2) format('woff2');
  }  
  @font-face {
    font-family: HarmattanW;
    src: url(./fonts/Harmattan-Regular.woff) format('woff');
  }
  @font-face {
    font-family: LateefRW;
    src: url(./fonts/LateefGR-Regular.woff) format('woff');
  }
  @font-face {
    font-family: MingzatW;
    src: url(./fonts/Mingzat-Regular.woff) format('woff');
  }
  @font-face {
    font-family: NarnoorW;
    src: url(./fonts/Narnoor-Regular.woff) format('woff');
  }
  @font-face {
    font-family: PadaukRW;
    src: url(./fonts/Padauk-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: ScheherazadeRW;
    src: url(./fonts/ScheherazadeNew-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: TagmukayRW;
    src: url(./fonts/Tagmukay-Regular.woff) format('woff');
  }
  @font-face {
    font-family: TaiHeritageProRW;
    src: url(./fonts/TaiHeritagePro-Regular.woff) format('woff');
  }

  .AlkalamiRW, .AlkalamiLW, .AwamiNastaliqRW, .HarmattanW, .LateefRW, .ScheherazadeRW, .Alkalami, .AlkalamiLight, .AwamiNastaliq, .Harmattan, .LateefGR, .ScheherazadeNew {
    font-size: 100%;
  }
  .AlkalamiRW h2, .AlkalamiLW h2, .AwamiNastaliqRW h2, .HarmattanW h2, .LateefRW h2, .Alkalami h2, .ScheherazadeRW h2, .AlkalamiLight h2, .AwamiNastaliq h2, .Harmattan h2, .LateefGR h2, .ScheherazadeNew h2 {
    font-size: 110%;
  }
  .AlkalamiRW h1, .AlkalamiLW h1, .AwamiNastaliqRW h1, .HarmattanW h1, .LateefRW h1, .ScheherazadeRW h1, .Alkalami h1, .AlkalamiLight h1, .AwamiNastaliq h1, .Harmattan h1, .LateefGR h1, .ScheherazadeNew h1 {
    font-size: 115%;
  }

  .AwamiNastaliqRW, .AwamiNastaliq {
    line-height: 2.7;
  }

  /* Graphite-enabled woff and woff2 fonts included above */
  .AktabRW { font-family: AktabRW; }
  .AlkalamiLW { font-family: 'AlkalamiLW'; }
  .AlkalamiRW { font-family: AlkalamiRW; }
  .AndikaRW { font-family: AndikaRW; }
  .AwamiNastaliqRW { font-family: AwamiNastaliqRW; }
  .GentiumPlusRW { font-family: GentiumPlusRW; }
  .HarmattanW { font-family: HarmattanW; }
  .LateefRW { font-family: LateefRW; }
  .MingzatW { font-family: MingzatW; }
  .NarnoorW { font-family: NarnoorW; }
  .PadaukRW { font-family: PadaukRW; }
  .ScheherazadeRW { font-family: ScheherazadeRW; }
  .TagmukayRW { font-family: TagmukayRW; }
  .TaiHeritageProRW { font-family: TaiHeritageProRW; }

  /* Graphite-enabled font if locally installed */
  .Aktab { font-family: Aktab; }
  .Alkalami { font-family: Alkalami; }
  .AlkalamiLight { font-family: 'Alkalami Light'; }
  .Andika { font-family: Andika; }
  .AwamiNastaliq { font-family: 'Awami Nastaliq'; }
  .GentiumPlus { font-family: 'Gentium Plus'; }
  .Harmattan { font-family: Harmattan; }
  .KhmerBusra { font-family: KhmerBusra; }
  .KhmerMondulkiri { font-family: 'Khmer Mondulkiri'; }
  .LateefGR { font-family: LateefGR; }
  .Mingzat { font-family: Mingzat; }
  .Narnoor{ font-family: Narnoor; }
  .Padauk { font-family: Padauk; }
  .ScheherazadeNew { font-family: 'Scheherazade New'; }
  .Shimenkan { font-family: Shimenkan; }
  .SophiaNubian { font-family: 'Sophia Nubian'; }
  .Tagmukay { font-family: Tagmukay; }
  .TaiHeritagePro { font-family: 'Tai Heritage Pro'; }

}

/* Windows 11 system fonts if locally installed                          */
/*    * includes supplemental language packs                             */
/*    * excludes symbols, icons, emojis, assets, wingdings, and webdings */
.AharoniBold { font-family: 'Aharoni Bold'; }
.Aldhabi { font-family: Aldhabi; }
.Andalus { font-family: Andalus; }
.AngsanaNew { font-family: 'Angsana New'; }
.AngsanaUPC { font-family: AngsanaUPC; }
.Aparajita { font-family: Aparajita; }
.ArabicTypesetting { font-family: 'Arabic Typesetting'; }
.Arial { font-family: Arial; }
.ArialBlack { font-family: 'Arial Black'; }
.ArialNovaLight { font-family: 'Arial Nova Light'; }
.Bahnschrift { font-family: Bahnschrift; }
.Batang { font-family: Batang; }
.BIZUDGothic { font-family: 'BIZ UDGothic'; }
.BIZUDMinchoMedium { font-family: 'BIZ UDMincho Medium'; }
.BrowalliaNew { font-family: 'Browallia New'; }
.BrowalliaUPC { font-family: BrowalliaUPC; }
.CalibriLight { font-family: 'Calibri Light'; }
.Cambria { font-family: Cambria; }
.CandaraLight { font-family: 'Candara Light'; }
.ComicSansMS { font-family: 'Comic Sans MS'; }
.Consolas { font-family: Consolas; }
.Constantia { font-family: Constantia; }
.CorbelLight { font-family: 'Corbel Light'; }
.CordiaNew { font-family: 'Cordia New'; }
.CordiaUPC { font-family: CordiaUPC; }
.CourierNew { font-family: 'Courier New'; }
.DaunPenh { font-family: DaunPenh; }
.David { font-family: David; }
.DengXianLight { font-family: 'DengXian Light'; }
.DFKaiSB { font-family: DFKai-SB; }
.DilleniaUPC { font-family: DilleniaUPC; }
.DokChampa { font-family: DokChampa; }
.Dotum { font-family: Dotum; }
.Ebrima { font-family: Ebrima; }
.EstrangeloEdessa { font-family: 'Estrangelo Edessa'; }
.EucrosiaUPC { font-family: EucrosiaUPC; }
.Euphemia { font-family: Euphemia; }
.FangSong { font-family: FangSong; }
.FranklinGothicMedium { font-family: 'Franklin Gothic Medium'; }
.FrankRuehl { font-family: FrankRuehl; }
.FreesiaUPC { font-family: FreesiaUPC; }
.Gabriola { font-family: Gabriola; }
.Gadugi { font-family: Gadugi; }
.Gautami { font-family: Gautami; }
.Georgia { font-family: Georgia; }
.GeorgiaProLight { font-family: 'Georgia Pro Light'; }
.GillSansNovaLight { font-family: 'Gill Sans Nova Light'; }
.Gisha { font-family: Gisha; }
.Gulim { font-family: Gulim; }
.Gungsuh { font-family: Gungsuh; }
.Impact { font-family: Impact; }
.InkFree { font-family: 'Ink Free'; }
.IrisUPC { font-family: IrisUPC; }
.IskoolaPota { font-family: 'Iskoola Pota'; }
.JasmineUPC { font-family: JasmineUPC; }
.JavaneseText { font-family: 'Javanese Text'; }
.KaiTi { font-family: KaiTi; }
.Kalinga { font-family: Kalinga; }
.Kartika { font-family: Kartika; }
.KhmerUI { font-family: 'Khmer UI'; }
.KodchiangUPC { font-family: KodchiangUPC; }
.Kokila { font-family: Kokila; }
.LaoUI { font-family: 'Lao UI'; }
.Latha { font-family: Latha; }
.Leelawadee { font-family: Leelawadee; }
.LeelawadeeUI { font-family: 'Leelawadee UI'; }
.LevenimMT { font-family: 'Levenim MT'; }
.LilyUPC { font-family: LilyUPC; }
.LucidaConsole { font-family: 'Lucida Console'; }
.LucidaSansUnicode { font-family: 'Lucida Sans Unicode'; }
.MalgunGothic { font-family: 'Malgun Gothic'; }
.Mangal { font-family: Mangal; }
.Marlett { font-family: Marlett; }
.Meiryo { font-family: Meiryo; }
.MicrosoftHimalaya { font-family: 'Microsoft Himalaya'; }
.MicrosoftJhengHeiLight { font-family: 'Microsoft JhengHei Light'; }
.MicrosoftNewTaiLue { font-family: 'Microsoft New Tai Lue'; }
.MicrosoftPhagsPa { font-family: 'Microsoft PhagsPa'; }
.MicrosoftSansSerif { font-family: 'Microsoft Sans Serif'; }
.MicrosoftTaiLe { font-family: 'Microsoft Tai Le'; }
.MicrosoftUighur { font-family: 'Microsoft Uighur'; }
.MicrosoftYaHeiLight { font-family: 'Microsoft YaHei Light'; }
.MicrosoftYiBaiti { font-family: 'Microsoft Yi Baiti'; }
.MingLiU { font-family: MingLiU; }
.MingLiUExtB { font-family: MingLiU-ExtB; }
.Miriam { font-family: Miriam; }
.MongolianBaiti { font-family: 'Mongolian Baiti'; }
.MoolBoran { font-family: MoolBoran; }
.MSGothic { font-family: 'MS Gothic'; }
.MSMincho { font-family: 'MS Mincho'; }
.MVBoli { font-family: 'MV Boli'; }
.MyanmarText { font-family: 'Myanmar Text'; }
.Narkisim { font-family: Narkisim; }
.NeueHaasGrtskTPrUT { font-family: 'Neue Haas Grotesk Text Pro UltraThin'; }
.NirmalaUISemilight { font-family: 'Nirmala UI Semilight'; }
.Nyala { font-family: Nyala; }
.PalatinoLinotype { font-family: 'Palatino Linotype'; }
.PlantagenetCherokee { font-family: 'Plantagenet Cherokee'; }
.Raavi { font-family: Raavi; }
.RockwellNova { font-family: 'Rockwell Nova'; }
.Rod { font-family: Rod; }
.SakkalMajalla { font-family: 'Sakkal Majalla'; }
.SanskritText { font-family: 'Sanskrit Text'; }
.SegoePrint { font-family: 'Segoe Print'; }
.SegoeScript { font-family: 'Segoe Script'; }
.SegoeUILight { font-family: 'Segoe UI Light'; }
.SegoeUIVrblDsplyLght { font-family: 'Segoe UI Variable Display Light'; }
.ShonarBangla { font-family: 'Shonar Bangla'; }
.Shruti { font-family: Shruti; }
.SimHei { font-family: SimHei; }
.SimplifiedArabic { font-family: 'Simplified Arabic'; }
.SimSun { font-family: SimSun; }
.SitkaBanner { font-family: 'Sitka Banner'; }
.Sylfaen { font-family: Sylfaen; }
.Tahoma { font-family: Tahoma; }
.TimesNewRoman { font-family: 'Times New Roman'; }
.TraditionalArabic { font-family: 'Traditional Arabic'; }
.TrebuchetMS { font-family: 'Trebuchet MS'; }
.Tunga { font-family: Tunga; }
.UDDigiKyokashoNB { font-family: 'UD Digi Kyokasho N-B'; }
.UrduTypesetting { font-family: 'Urdu Typesetting'; }
.Utsaah { font-family: Utsaah; }
.Vani { font-family: Vani; }
.Verdana { font-family: Verdana; }
.VerdanaProLight { font-family: 'Verdana Pro Light'; }
.Vijaya { font-family: Vijaya; }
.Vrinda { font-family: Vrinda; }
.YuGothicLight { font-family: 'Yu Gothic Light'; }
.YuMinchoLight { font-family: 'Yu Mincho Light'; }


